// main styles (layout)
.upload-cover {
    width: 480px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 16px 32px 39px 32px;
    .upload-area-modal {
        .upload-header {
            display: flex;
            justify-content: space-between;
            padding-bottom: 32px;
            h5 {
                font-weight: 600;
                font-size: 22px;
                line-height: 26px;
                color: rgba(0, 0, 0, 0.87);
            }
        }
    }
}
.upload-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        text-align: left;
        white-space: nowrap;
    }
    .progress {
        width: 100%;
    }
    .actions {
        white-space: nowrap;
        i {
            cursor: pointer;
        }
        button {
            cursor: pointer;
        }
    }
}

// customizations / default-theme
.upload-area {
    padding: 1rem;
    font-family: "Public Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    .title {
        text-align: left;
    }
    .progress {
        margin: 0 0.5rem;
        height: 3px;
        &-bar {
            background: #18a1cb;
        }
    }
    .status {
        text-align: right;
        white-space: nowrap;
        font-size: small;
        color: #18a1cb;
    }
    .actions {
        i {
            font-size: 16px;
            color: #9b9b9b;
            margin-left: 1rem;
            &:first-child {
                margin-left: 0;
            }
        }
        button {
            color: #1a908d;
            background: #ffffff;
            border: 1px solid #1a908d;
            border-radius: 4px;
            padding: 8px 16px;
        }
    }
}
.version-1 {
    box-shadow: 0px 1px 0px #e0e0e0;
}
.version-2 {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

// main styles (layout)
.upload-area-modal {
    .upload-box {
        background: #f6f6f6;
        border: 2px dashed #d2d2d2;
        border-radius: 4px;
        padding-top: 20px;
        padding-bottom: 26px;
        .upload-text {
            white-space: nowrap;
        }
    }
    .OnDragOver {
        background: #666666;
    }
    .upload-division {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .actions {
        white-space: nowrap;
        button {
            cursor: pointer;
        }
    }
    .FileInput {
        display: none;
    }
}

// customizations / default-theme
.upload-area-modal {
    font-family: Roboto, "Public Sans", sans-serif;
    position: relative;
    .upload-box {
        i {
            font-size: 66px;
            color: #d2d2d2;
            margin-bottom: 10px;
        }
        .upload-text {
            font-size: 12px;
            font-weight: normal;
            align-self: center;
        }
    }
    .loading,
    .percentage {
        display: flex;
        border: 1px solid #d2d2d2;
        background: none;
        padding: 5px;
        width: 382px;
    }

    .percentage {
        position: unset;
        padding: unset;
        div {
            position: relative;
            display: flex;
            background: lighten($color: #38b1d6, $amount: 40%);
            width: 70%;
            img {
                padding-left: 5px;
            }
        }

        .upload-text {
            display: block;
            font-size: 12px;
            font-weight: normal;
            align-self: center;
            text-align: left;
            width: 70%;
            background: lighten($color: #38b1d6, $amount: 40%);
            color: #18a1cb;
            span {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                position: absolute;
                right: -128px;
                top: 8px;
                color: #18a1cb;
            }
        }
        .remove-icon {
            position: absolute;
            right: -148px;
            top: 13px;
        }
    }
    .upload-division {
        display: flex;

        // &::before {
        //     content: "";
        //     position: absolute;
        //     width: 50%;
        //     height: 2px;
        //     top: 48%;
        //     left: 0;
        //     background: #c5c5c5;
        // }
        // &::after {
        //     content: "";
        //     position: absolute;
        //     width: 160px;
        //     height: 2px;
        //     top: 48%;
        //     right: 0;
        //     background: #c5c5c5;
        // }
        &-line {
            width: 100%;
            height: 1px;
            border: 1px solid #c5c5c5;
            align-self: center;
        }
        &-text {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.01em;
            color: #7c7c7c;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    .actions {
        button {
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1.25px;
            width: 220px;
            height: 44px;
            text-align: center;
            background: #1a908d;
            border: unset;
            border-radius: 4px;
            color: #ffffff;
            padding: 8px 32px;
        }
        button.wait-button {
            background: #c5c5c5;
            margin-top: 41px;
        }
    }
}
